:root {
    --primary-main: rgb(0, 16, 88);
    --secondary-main: rgba(73, 88, 121, 0.719);
    --primary-sub: rgba(73, 88, 121, 0.205);
    --secondary-sub: rgba(0, 16, 88, 0.849);
}

body {
    height:100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(109, 132, 182);
    background-color: var(--primary-main);
    height: 10vh;
    font-size: 60px;
    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: row;
}

.sumBar{
    background-color: var(--secondary-main);
    height: 80vh;
    width: 400px;
}

.mainDisplay {
    background-color: var(--primary-sub);
    height: 80vh;
    width: 100%;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    padding: 5px;
    margin: 0;
}

.projectItem {
    margin: 15px 5px;
    padding: 5px;
    font-size: 20px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
}

.taskBox {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
}

.footer {
    display: flex;
    background-color: var(--secondary-sub);
    height: 10vh;
    color: rgb(109, 132, 182);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    
}